<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="~{fragments :: head-comun}"></th:block>
    <title>Citas | Dentista</title>
</head>

<body class="dashboard-body">
    <div class="dashboard">
        <aside th:replace="~{fragments :: aside('citas' , 'dentista')}"></aside>
        <main class="main-content">
            <header>
                <h1>Citas Programadas</h1>
            </header>

            <div class="card selector-citas">
                <div class="selector-row">
                    <label for="fecha-cita">Seleccionar fecha</label>
                    <input type="date" id="fecha-cita" name="fecha-cita">
                </div>
            </div>

            <section class="appointments-container">
                <div class="card appointments-card">
                    <div class="appointments-table-wrapper">
                        <table id="table-citas-hoy" class="appointments-table">
                            <thead>
                                <tr>
                                    <th>Hora</th>
                                    <th>Paciente</th>
                                    <th>Tratamiento</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody id="bodyTable">
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <script th:src="@{/js/citasDentista.js}"></script>
</body>
</html>