<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="~{fragments :: head-comun}"></th:block>
    <title>Pacientes | Dentista</title>
</head>

<body class="dashboard-body">
    <div class="dashboard">
        <aside th:replace="~{fragments :: aside('pacientes', 'dentista')}"></aside>

        <main class="main-content">
            <header class="content-header">
                <h1>Gestión de Pacientes</h1>
                <button class="btn-primary" > + Registrar Nuevo Paciente</button>
            </header>

            <section class="patients-section">
                <div class="card patients-card">
                    <div class="search-bar">
                        <input id="pacienteId" type="text" placeholder="Buscar paciente por nombre o ID...">
                    </div>

                    <div class="appointments-table-wrapper">
                        <table class="appointments-table" id="table-pacientes">
                            <thead>
                                <tr>
                                    <th>Expediente</th>
                                    <th>Paciente</th>
                                    <th>Contacto</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </main>
    </div>
<script th:src="@{/js/pacientes.js}"></script>
</body>

</html>