@use "../base/variables" as v;
@use "../base/mixins" as m;

.dashboard-body { background-color: #f0f2f5; }

.dashboard {
    display: flex;
    min-height: 100vh;

    .sidebar {
        width: 28rem;
        background-color: v.$azulOscuro;
        padding: 3rem;
        position: sticky;
        top: 0;
        height: 100vh;

        &__logo { margin-bottom: 4rem; img { width: 100%; } }

        &__nav {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            
            a {
                color: v.$blanco;
                font-size: 1.7rem;
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 1rem;
                border-radius: .8rem;
                transition: background .3s;

                &:hover, &.activo {
                    background-color: rgba(v.$aqua, 0.2);
                    color: v.$aqua;
                }
            }

            .sidebar__logout { margin-top: auto; color: #ff6b6b; }
        }
    }
}

.main-content {
    flex: 1;
    padding: 4rem;

    &__header { 
        margin-bottom: 4rem; 
        h1 { font-size: 3rem; color: v.$azulOscuro; } 
        span { text-transform: capitalize;}
    }
}

.grid-stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
    margin-bottom: 4rem;
}

.card {
    background-color: v.$blanco;
    padding: 2.5rem;
    border-radius: 1.5rem;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    display: flex;
    gap: 2rem;
    align-items: center;

    &--destacada {
        background-color: v.$aqua;
        color: v.$azulOscuro;
        .card__icon { background: rgba(v.$azulOscuro, 0.1); }
    }

    &__icon {
        font-size: 3rem;
        background: #f0f2f5;
        padding: 1.5rem;
        border-radius: 1rem;
    }

    h3 { font-size: 1.6rem; margin-bottom: .5rem; }
    &__dato { font-size: 2.2rem; font-weight: bold; }
    &__sub { font-size: 1.4rem; opacity: 0.7; }
}


.progreso-bar {
    height: .8rem;
    background: #e1e1e1;
    border-radius: 1rem;
    margin: 1rem 0;
    overflow: hidden;
    &__relleno { height: 100%; background: v.$aqua; }
}

// Estilos de la tabla
.status {
    padding: .8rem 1rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    &--completado { background: #5DADE2!important; color: v.$blanco; }
    &--confirmada { background: #82E0AA!important; color: #1E5B32!important; }
    &--pendiente {background: #F5B7B1!important; color: #8E2B2B!important;}
    &--cancelada {background: #F5B7B1!important; color: #8E2B2B!important;}

    
}

#table-actividad {
    border-spacing: 2rem 1rem;

    .btn-ver{
        @include m.boton(green , #1A2B45);

        &:empty{
            display: none;
        }
    }
}