@use "../base/variables" as v;
@use "../base/mixins" as m;

body { margin: 0; padding: 0; }

.header {
    background-color: v.$azulOscuro; 
    width: 100%;

    .header-contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        padding: 1.5rem 0;
        gap: 1.5rem;

        @include m.tablet {
            flex-direction: row;
            justify-content: space-between;
            padding: 0.5rem 0;
            gap: 0;
        }
    }
}

.logo-container {
    .logo-svg {
        height: 70px; 
        width: auto;
        display: block;
    }
}

.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
    margin: 0;
    padding: 0;

    @include m.tablet {
        flex-direction: row;
        gap: 2rem;
    }

    li a {
        text-decoration: none;
        color: v.$blanco;
        font-weight: bold;
        font-size: 1.1rem;
        transition: color 0.3s ease;

        &:hover {
            color: aqua;
        }
    }

    .btn-destacado a {
        background-color: aqua;
        color: #001529;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        
        &:hover {
            background-color: v.$blanco;
        }
    }
}
