<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:fragment="head-comun">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/app.css}">
    </th:block>
</head>

<body>

    <header th:fragment="header" class="header">
        <div class="contenedor header-contenedor">
            <div class="logo-container">
                <a th:href="@{/}">
                    <img class="logo-svg" th:src="@{/img/logo.svg}" alt="logo dentcare">
                </a>
            </div>

            <nav class="nav-principal">
                <ul class="nav-menu">
                    <li><a th:href="@{/}">Inicio</a></li>
                    <li><a th:href="@{/servicios}">Servicios</a></li>
                    <li><a th:href="@{/nosotros}">Quien Somos</a></li>
                    <li class="btn-destacado"><a th:href="@{/login}">Iniciar Sesión</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <aside th:fragment="aside(moduloActivo)" class="sidebar">
            <div class="sidebar__logo">
                <img 
                th:src="@{/img/logo.svg}"
                alt="DentCare Logo">
            </div>

            <nav class="sidebar__nav">
                <a 
                th:class="${moduloActivo == 'inicio' ? 'activo' : ''}"
                th:href="@{/cliente/dashboard}"
                class="activo">
                    <i class='bx bxs-dashboard'></i> Inicio
                </a>
                <a 
                th:class="${moduloActivo == 'citas' ? 'activo' : ''}"
                th:href="@{/cliente/citas}">
                    <i class='bx bxs-calendar'></i> Mis Citas
                </a>
                <a
                th:class="${moduloActivo == 'historial' ? 'activo' : ''}"
                th:href="@{/cliente/historial}">
                    <i class='bx bxs-folder-open'></i> Historial Clínico
                </a>
                <a th:href="@{/logout}" id="btn-logout" class="sidebar__logout">
                    <i class='bx bx-log-out'></i> Cerrar Sesión
                </a>
            </nav>
        </aside>

    <footer th:fragment="footer" class="footer">
        <ul class="footer__grid">
            <div class="widget">
                <div class="widget__logo">
                    <img th:src="@{/img/logo.svg}" alt="logo dentcare">
                </div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat adipisci laborum ipsam a dolorum
                    quasi velit nobis placeat</p>
            </div>
            <div class="widget">
                <div class="widget__heading">
                    <h3>Nuestro servicio</h3>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, obcaecati officia. In, iusto
                    quidem. Laborum facere reprehenderit consequatur molestias assumenda aperiam praesentium accusamus
                    cumque, reiciendis dolores repellendus. Debitis, voluptate delectus.</p>
            </div>
            <div class="widget">
                <div class="widget__heading">
                    <h3>Contactanos</h3>
                </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex repellat quod iusto molestiae minima
                    corrupti sint accusamus minus doloremque ipsum, magnam molestias numquam possimus itaque vero,
                    laborum tempore accusantium nostrum.</p>
            </div>
        </ul>
    </footer>

</body>

</html>