<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DentCare_Pus</title>
    <link rel="stylesheet" href="../static/css/app.css">
</head>
<body>
    <header class="header">
        <div class="contenedor header-contenedor">

            <div class="titulo">
                <h1 class="titulo__principal">DentCare_Plus</h1>
            </div>

            <nav class="nav-principal">
                <a href="#">Inicio</a>
                <a href="#">Servicios</a>
                <a href="#">Citas</a>
                <a href="#">Quien Somos</a>
                <a href="#">Iniciar Sesion</a>
            </nav>
        </div>
    </header>

    <div class="imagen">
        <div class="overlay">
            <div class="contenedor contenido-imagen">
                <h2>DentCare_Plus</h2>
                <p class="titulo__parrafo">Clinica Dental</p>
            </div>
        </div>
        <img src="../static/img/dentista.jpg" alt="header dentista">
    </div>
</body>
</html>