<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" href="../static/css/app.css">
</head>
<body>
    <header class="header">
        <div class="contenedor header-contenedor">
            <div class="logo-container">
                <a href="/">
                    <img class="logo-svg" src="../static/img/logo.svg" alt="logo dentcare">
                </a>
            </div>

            <nav class="nav-principal">
                <ul class="nav-menu">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Citas</a></li>
                    <li><a href="#">Quien Somos</a></li>
                    <li class="btn-destacado"><a href="#">Iniciar Sesión</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="contenedor nosotros">
        <h3 class="nosotros__heading">Sobre Nosotros</h3>
        <div class="nosotros__contenido">
            <img src="../static/img/nosotros.jpg" alt="Sobre nosotros">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar mi elit, quis viverra felis porttitor ac. Sed in hendrerit tellus. Fusce tempus facilisis sem at iaculis. Mauris ac est convallis, imperdiet ex vitae, accumsan tellus. Phasellus volutpat ac neque ut vestibulum. Proin at vulputate ipsum. Sed faucibus interdum ante, quis venenatis risus volutpat eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper ante ut rhoncus convallis. Ut sed luctus magna, id rutrum sem. Duis venenatis tellus non nunc rhoncus, eget finibus neque suscipit. Fusce euismod, libero non pellentesque sagittis, risus sem imperdiet felis, ac rutrum enim ex at quam. Nam congue ultricies tortor, fringilla consequat diam. Etiam purus nibh, ultricies sit amet nisi a, suscipit ultrices metus. </p>
        </div>
    </main>

    <footer class="footer">
        <ul class="footer__grid">
            <div class="widget">
                <div class="widget__logo">
                    <img src="../static/img/logo.svg" alt="logo dentcare">
                </div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat adipisci laborum ipsam a dolorum quasi velit nobis placeat</p>
            </div>
            <div class="widget">
                <div class="widget__heading">
                    <h3>Nuestro servicio</h3>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, obcaecati officia. In, iusto quidem. Laborum facere reprehenderit consequatur molestias assumenda aperiam praesentium accusamus cumque, reiciendis dolores repellendus. Debitis, voluptate delectus.</p>
            </div>
            <div class="widget">
                <div class="widget__heading">
                    <h3>Contactanos</h3>
                </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex repellat quod iusto molestiae minima corrupti sint accusamus minus doloremque ipsum, magnam molestias numquam possimus itaque vero, laborum tempore accusantium nostrum.</p>
            </div>
        </ul>
    </footer>
</body>
</html>